html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo {
  margin-left: 5%;
  margin-top: 2%;
}
.b1{
  display: inline-flex;
  float:left;
  margin-left: 5%;
}

.b11{
  margin-left: 2%;
  width:100px
}
.row{
  width: 100%;
}
.b22{
  width: 30px;
  display: flex;
}
.b221{
  width: 10%;
  float: right;
  text-align: center; 
}
.icon{
   margin-right: 3%;
}
.b222{

}
.title1{
  color: black;
  text-align: center;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
